/*
#1 = 41AD78
#2 = 79CDC0
*/
a {
	color: #41AD78;
}
a:hover {
	color: #C5C6C8;
}

/* menu */
.nav>li>a:hover {
	color: #C5C6C8;
}

.navbar .navbar-nav > .active > a {
	color: #41ad78;
}

/* flexslider */
.flex-control-paging li a {
	background: #41AD78;
}

.flex-direction-nav a:hover{
	background-color:#41AD78;
}

.testimonial span.author a {
	color: #41ad78;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #41AD78;
	box-shadow: 0 0 0 4px #41AD78;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #41AD78;
	box-shadow: 0 0 0 8px  #41ad78;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #41AD78;
}

/* btn */
.btn-theme {
  background: #41ad78;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #41AD78;
}
.btn-cta,.btn-cta.btn-lg {
  background: #41AD78;
  border-color: #41ad78;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #41AD78;
}

/* contact */
.validation {
	color: #871818;
}

/* footer */
.social-circle li a {
	background:#41AD78;
}

a.scrollup{
	background:#41AD78;
}