@import "checklist_color.less";
@import "checklist_mixins.less";

// Global Components

body {
	//overflow-x: hidden;
	.body-font;
}

.text-muted {
	color: @gray;
}

.text-primary {
	color: @brand-primary;
}

p {
	font-size: 14px;
	line-height: 1.75;
}

p.large {
	font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
	outline: none;
}

a {
	color: @brand-primary;
}

a:hover,
a:focus,
a:active,
a.active {
	color: darken(@brand-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
	.heading-font;
	font-weight: 300;
}

.img-centered {
	margin: 0 auto;
}

.bg-light-gray {
	background-color: @gray-lighter;
}

.bg-darkest-gray {
	background-color: @gray-darkest;
}

// Restyled Primary Buttons

.btn-primary {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 500;
    //letter-spacing: 1px;
    font-size: 20px;
    border-radius: 2px;
}

.btn-xl {
	.button-variant(white; @brand-primary; @brand-primary);
	.heading-font;
	font-weight: 700;
	border-radius: 3px;
	font-size: 18px;
	padding: 20px 40px;
}
.btn-outline {
    .heading-font;
	color: white;
    font-weight: 600;
	border: solid 2px @brand-primary;
	background: @brand-primary;
	transition: all 0.3s ease-in-out;
	font-size: 20px;
	padding: 10px 30px;
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: @gray-lighter;
		background: transparent;
		border: solid 2px @gray-lighter;
	}
}
.form-control{
  .heading-font;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
}
.input-group-addon{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 17px;
  min-width:40px;// if you want width please write here //
  text-align:center;
}

// Highlight Color Customization

::-moz-selection {
    text-shadow: none;
    background: @brand-primary;
}

::selection {
    text-shadow: none;
    background: @gray-lighter;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: @brand-primary;
}