@import "checklist_color.less";

.container  {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* NAVIGATION MENU */

@list-group-bg:                 #f8f8f8;
@panel-primary-border:  		    @gray-lighter;
@list-group-hover-bg: 			    #f8f8f8;
@badge-font-weight:             normal;


a.list-group-item:hover, a.list-group-item:focus, a.list-group-item:active {
  background-color: @list-group-hover-bg;
 }

.heading {
  background-color: @gray-lighter;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  padding: 5px 0 5px 15px;
  font-weight: 400;
}

.icon-gray {
  color: @gray;
  size: small;
  margin-right: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.list-group li {
  list-style: none;
  line-height: 0.8;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.list-group-item:last-child {
  border-radius: 0px;
  margin-bottom: -1px;
}

