@import "checklist_color.less";

nav {

	.btn-group.open .dropdown-toggle {
		box-shadow: none;
	}

	.navbar-toggle {
		color: #fff;
		float: left;
		margin-left: 15px;
	}

	.username-fixedtop {
		position: absolute;
		float: right;
  	}

	.dropdown-menu {
		padding:10px 0;

		.divider {
			margin: 0;
		}

		li > a{
			padding:7px 7px;
			color: @gray-darkest;
			font-weight: 300;
		}

		li:last-child, li:last-child a, li:last-child a:hover, li:last-child a:active, li:last-child a:focus {
			border-bottom-left-radius: 2px;
			border-bottom-right-radius: 2px;
		}
	}
}

/*
Anpassungen bei Header/H1 für Mobile
*/
@media (max-width: 991px) {
	.navbar{
		position: fixed !important;
	}

	h1{
		margin-top: 65px !important; 
	}
}

@media (max-width: 480px) {

	.username-navbar {
		display: none;
	}

	nav .dropdown-toggle {
		margin-right: -7px;
	}

	h1 {
		font-size: 16px;
		border-bottom: 1px solid @gray;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 14px;
		padding-right: 15px;
		padding-bottom: 12px;
		text-transform: uppercase;
	}

	.navbar-default {
		margin-bottom: 10px;
	}
}
