
// screen-lg-min: 1200px
// screen-md-min: 1011px	screen-md-max: 1199px
// screen-sm-min: 768px		screen-sm-max: 1010px
// screen-xs-min: 480px		screen-xs-max: 767px
// 							screen-xxs-max: 479px
@screen-xxs-max:	479px;



@media screen and (min-width: @screen-md-min){
	
}

@media screen and (max-width: @screen-md-max){
	
}

@media screen and (min-width:@screen-sm-min) and (max-width:@screen-sm-max){
	
}

@media screen and (max-width: @screen-sm-max){
	nav{
		
	}
	#content{
		
	}
}


@media screen and (max-width: @screen-xs-max){
	nav{
		.dropdown-menu{
			li:last-child, li:last-child a, li:last-child a:hover, li:last-child a:active, li:last-child a:focus{
				border-radius: 0;
			}

		}
		.navelement > a{
			padding: 10px 15px;
		}
	}
	
	#content{
		.table{
			td{
				width: 100%;
				display: block;
				border: 0;
				span{
					font-weight: bold;
				}
			}
			tr{
				border-top: 1px solid #ddd;
			}
			th{
				display: none;
			}
			.detail{
				border-top: 0;
			}
			//td.username:before { content: "Username:  "; }
		}

		.license-buttons{
			.clearfix;
			margin: 10px 0;
		}
		table.table span.xs-inline, table.table p.xs-inline{
			display:inline-block !important;
		}
	}
	
	footer{
		
	}
}

@media screen and (max-width: @screen-xxs-max){
	
}
