.login-link {
  color: #3d3d3f !important;
}
body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.text-muted {
  color: #c5c6c8;
}
.text-primary {
  color: #41ad78;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #41ad78;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #33885e;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #ececed;
}
.bg-darkest-gray {
  background-color: #3d3d3f;
}
.btn-primary {
  color: #ffffff;
  background-color: #41ad78;
  border-color: #41ad78;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 2px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #33885e;
  border-color: #308159;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #41ad78;
  border-color: #41ad78;
}
.btn-primary .badge {
  color: #41ad78;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #41ad78;
  border-color: #41ad78;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #33885e;
  border-color: #308159;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #41ad78;
  border-color: #41ad78;
}
.btn-xl .badge {
  color: #41ad78;
  background-color: #ffffff;
}
.btn-outline {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 600;
  border: solid 2px #41ad78;
  background: #41ad78;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  padding: 10px 30px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #ececed;
  background: transparent;
  border: solid 2px #ececed;
}
.form-control {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 15px;
}
.input-group-addon {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 17px;
  min-width: 40px;
  text-align: center;
}
::-moz-selection {
  text-shadow: none;
  background: #41ad78;
}
::selection {
  text-shadow: none;
  background: #ececed;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #41ad78;
}
