.btn-group {
  margin-bottom: 15px;
}
.input-group {
  margin-bottom: 15px;
}
.input-group-addon {
  padding: 0px;
  min-width: 35px !important;
}
.input-note {
  height: 60px !important;
}
.form-group > select {
  padding-left: 7px;
}
.clickable {
  cursor: pointer;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn-plus {
  margin-left: -2px;
  border: none;
}
.panel-primary {
  border: #c5c6c8 1px solid;
}
.panel-primary .panel-heading {
  color: #3d3d3f;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  font-weight: 400;
}
.dropdown-menu > li > a {
  font-weight: 300;
}
.btn-group > .btn:first-child {
  font-weight: 300;
  padding: 5px 11px;
  border: 1px solid #c5c6c8;
  margin: 0;
}
label {
  font-weight: 300;
}
@media (max-width: 480px) {
  .btn-group > .btn:first-child {
    padding: 0;
    border: none !important;
    margin-top: 0px;
  }
  .btn-group > .btn:first-child:hover,
  .btn-group > .btn:first-child:active,
  .btn-group > .btn:first-child:focus {
    background: transparent;
    box-shadow: none;
  }
}
.icon-overview {
  font-size: 12px;
  margin-right: 2px;
}
.check-overview {
  margin-bottom: 5px;
}
.check-title {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;
}
.check-details {
  display: inline-block;
}
.check-user {
  display: inline-block;
  margin-right: 5px;
}
.check-date {
  display: inline-block;
}
@media (max-width: 480px) {
  .check-details {
    float: none;
  }
}
.nav-justified {
  margin-bottom: 20px;
  font-weight: 400;
}
.nav-justified > li {
  border-radius: 0px;
  background-color: white;
  border: 1px solid #c5c6c8;
}
.nav-justified > li > a {
  margin-bottom: 0px;
  height: 46px;
}
.nav-pills > li > a:hover {
  background-color: #F8F8F8;
  height: 46px;
}
.nav-pills > li + li {
  margin-left: 0px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #3d3d3f;
  background-color: #ececed;
  border-bottom: 4px solid #41ad78;
  border-radius: 0px;
}
@media (max-width: 768px) {
  .nav-justified > li {
    width: 50%;
    float: left;
  }
}
/* ANKERPUNKTE
.anchor {
	list-style: none;
	margin: 17px;
}

.anchor>li:first-child {
	margin: 10px 0px;
}*/
@media (min-width: 768px) {
  .checklists-tab {
    display: none;
  }
}
@media (max-width: 768px) {
  #contentAllCollections {
    display: none;
  }
}
.form-group > select {
  border: #C5C6C8 1px solid;
  height: 34px;
  border-radius: 2px;
}
.check-length {
  margin-top: 5px;
}
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
}
.select-checklist-id {
  width: 100%;
}
.icon-tasks {
  border-radius: 2px;
}
.input-edit {
  padding-left: 14px !important;
  padding-right: 14px !important;
  margin: -1px !important;
}
.input-addnote {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: -1px !important;
  height: 34px !important;
}
.form-group-edit {
  border: 1px solid #c5c6c8;
}
.checkpoint {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.btn-tab {
  border-radius: 0px;
  margin-bottom: 15px;
}
.btn-tab:hover {
  background-color: #ececed;
  border: 1px solid #c5c6c8;
}
.btn-tab:active {
  border-bottom: 4px solid #41ad78;
  background-color: #ececed;
}
.icon-settings {
  font-size: 3em;
  color: #41ad78;
  padding-right: 10px;
  padding-bottom: 5px;
}
.group-settings1 {
  border: 1px solid #c5c6c8;
  text-align: center;
  padding: 30px;
  height: auto;
}
.group-settings2 {
  border: 1px solid #c5c6c8;
  text-align: center;
  padding: 30px;
  height: 205px;
  margin-bottom: 20px;
}
.second-row {
  position: relative;
  float: left;
  width: 100%;
}
.settings-heading {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
}
.settings-function > select {
  height: 34px;
  width: 100%;
  margin-bottom: -1px !important;
}
.datetime {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
@media (max-width: 767px) {
  .icon-settings {
    font-size: 1.4em;
  }
  .group-settings1 {
    height: auto;
    text-align: left;
    padding: 0;
  }
  .group-settings2 {
    height: auto;
    text-align: left;
    padding: 0;
  }
  .settings-icon {
    background-color: #ececed;
    padding: 10px;
    width: 100%;
    display: block;
  }
  .settings-heading {
    display: inline-block;
    margin-bottom: 0;
  }
  .settings-function {
    display: block;
    width: 100%;
  }
  .datetime {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-bottom: -1px;
  }
  .input-note {
    height: 57px !important;
    border: none;
  }
  .settings-function > select {
    height: 34px;
    width: 100% !important;
    border: none;
    border-top: 1px solid #c5c6c8;
    margin-bottom: 0 !important;
  }
  .btn-gray-small {
    margin: 0;
    border-radius: 0;
    border: 1px solid #41ad78;
  }
}
@media (max-width: 768px) {
  .settings-function > select {
    width: 200px;
  }
}
