.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
/* NAVIGATION MENU */
a.list-group-item:hover,
a.list-group-item:focus,
a.list-group-item:active {
  background-color: #f8f8f8;
}
.heading {
  background-color: #ececed;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  padding: 5px 0 5px 15px;
  font-weight: 400;
}
.icon-gray {
  color: #c5c6c8;
  size: small;
  margin-right: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
.list-group li {
  list-style: none;
  line-height: 0.8;
}
.list-group-item:first-child {
  border-radius: 0px;
}
.list-group-item:last-child {
  border-radius: 0px;
  margin-bottom: -1px;
}
