.single-circle > canvas {
  width: 170px;
}
.circle {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  height: 200px;
  text-align: center;
}
.allcircles {
  padding-bottom: 15px;
}
.circlerow {
  display: inline-block;
}
.circliful {
  height: 170px;
  width: 170px;
}
.circle-text,
.circle-info {
  width: 170px;
  position: absolute;
  text-align: center;
  display: inline-block;
  color: #41ad78;
}
.dash-activity {
  margin-top: 20px;
}
.activity {
  display: inline-block;
  margin-right: 4px;
}
@media (min-width: 1400px) {
  .single-circle > canvas {
    width: 200px;
  }
  .circle {
    height: 200px;
  }
  .circliful {
    height: 200px !important;
    width: 200px !important;
  }
  .circle-text,
  .circle-info {
    width: 200px !important;
    line-height: 200px !important;
    line-width: 100px;
    font-size: 70px !important;
  }
}
@media (max-width: 991px) {
  .allcircles {
    text-align: center;
  }
}
@media (max-width: 821px) {
  .single-circle > canvas {
    width: 150px;
  }
  .circle {
    margin-right: 0px;
    height: 150px;
  }
  .circliful {
    height: 150px !important;
    width: 150px !important;
  }
  .circle-text,
  .circle-info {
    width: 150px !important;
    line-height: 150px !important;
    line-width: 100px;
    font-size: 50px !important;
  }
}
@media (max-width: 480px) {
  .single-circle > canvas {
    width: 100px;
  }
  .circle {
    margin-right: 0px;
    height: 100px;
  }
  .circliful {
    height: 113px !important;
    width: 120px !important;
  }
  .circle-text,
  .circle-info {
    width: 100px !important;
    line-height: 125px !important;
    line-width: 100px;
    font-size: 35px !important;
  }
}
