html {
  font-size: 62.5%;
}
html body h1 {
  color: #41ad78;
  margin-top: 4px;
  margin-bottom: 25px;
  font-weight: 400;
}
html body h4 {
  font-weight: 300;
}
html body strong {
  font-weight: 400;
}
html body a {
  color: #3d3d3f;
}
html body a:hover,
html body a:active,
html body a:focus {
  text-decoration: none;
  color: #3d3d3f;
}
html body input:focus {
  outline: 0 none !important;
}
html body select:focus {
  outline: 0 none !important;
}
/*
 * Container Main 
 * --------------------------------------------------
 */
@media (min-width: 992px) {
  .containerMain {
    padding: 20px 30px 0px 30px;
  }
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  height: auto;
}
footer {
  padding: 30px 0;
}
/*
 * Alerts
 * --------------------------------------------------
 */
/*
 * Button 
 * --------------------------------------------------
 */
.btn-primary {
  height: 45px;
  font-weight: 300 !important;
  border-radius: 2px !important;
}
.btn-gray-small {
  background-color: #41ad78;
  text-align: center;
  margin: 15px 0px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 2px;
  padding: 7px 32px;
  color: white;
  border: 1px solid #41ad78;
  width: 100%;
  border-bottom: 2px #3b9e6e solid;
}
.btn-gray-small:hover,
.btn-gray-small:active,
.btn-gray-small:focus {
  background-color: #3b9e6e;
  border: #3b9e6e solid 1px;
  color: white !important;
  border-bottom: 2px #3b9e6e solid;
}
.btn-gray {
  background-color: #41ad78;
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 10px 32px;
  color: white;
  border: 1px solid #41ad78;
  width: 100%;
  border-bottom: 2px #3b9e6e solid;
}
.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus {
  background-color: #3b9e6e;
  border: #3b9e6e solid 1px;
  color: white !important;
  border-bottom: 2px #3b9e6e solid;
}
.btn-s:focus,
.btn-s:hover {
  background-color: #ECECED;
}
.btn-add {
  border: 1px dashed #c5c6c8;
  height: 120px;
  padding-top: 27px;
  margin-bottom: 20px;
  background-color: #ececed;
}
/*
 * Icons 
 * --------------------------------------------------
 */
.icon-add {
  font-size: 3em;
  color: #41ad78;
  padding-right: 10px;
}
.icon-green {
  color: #41ad78 !important;
  padding-left: 5px;
  padding-right: 5px !important;
}
.icon-white {
  color: white;
  padding-right: 10px;
}
/*
 * Label 
 * --------------------------------------------------
 */
.label {
  font-weight: normal;
  color: #41ad78;
}
.label-checklists {
  margin-bottom: 0px;
}
/*
 * Panel
 * --------------------------------------------------
 */
.panel {
  border-radius: 2px;
}
.panel-users {
  padding: 7px 10px;
  list-style: none;
}
.panel-checklists {
  padding: 10px 25px 10px 15px;
}
@media (max-width: 992px) {
  .panel-users {
    margin-bottom: -1px;
    border-radius: 2px;
  }
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    background-color: #fff;
    width: 50%;
    /* 6 columns */
  }
}
/*
 * Input
 * --------------------------------------------------
 */
.form-control:focus {
  border-color: #c5c6c8;
  box-shadow: 0px 1px 1px #ececed inset, 0px 0px 8px #c5c6c8;
}
.input-group .form-control {
  font-weight: 300;
  height: 35px !important;
}
.input-lg {
  font-weight: 400;
}
input[type="checkbox"] {
  margin: 4px 5px 0px 0px;
  line-height: normal;
}
/*
 * Tooltip
 * --------------------------------------------------
 */
.info-tooltip {
  font-size: 75%;
  position: absolute;
  right: 21px;
}
/*.star-tooltip {
    display: inline-block;
}
*/
.tooltip {
  width: 200px;
  top: 5px !important;
  left: 20px !important;
}
.tooltip.fade.left in {
  left: 0px;
}
.collection-save {
  float: right;
}
