/*
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

*/
.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
/* NAVIGATION MENU */
a.list-group-item:hover,
a.list-group-item:focus {
  border-left: solid 4px #41AD78;
  background-color: #f8f8f8;
}
.heading {
  background-color: #ececed;
  text-transform: uppercase;
  margin: 0;
  font-size: 12px;
  padding: 5px 0 5px 15px;
}
.fa {
  color: #C5C6C8;
  size: small;
  margin-right: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
.list-group li {
  list-style: none;
}
