nav .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
nav .navbar-toggle {
  color: #fff;
  float: left;
  margin-left: 15px;
}
nav .username-fixedtop {
  position: absolute;
  float: right;
}
nav .dropdown-menu {
  padding: 10px 0;
}
nav .dropdown-menu .divider {
  margin: 0;
}
nav .dropdown-menu li > a {
  padding: 7px 7px;
  color: #3d3d3f;
  font-weight: 300;
}
nav .dropdown-menu li:last-child,
nav .dropdown-menu li:last-child a,
nav .dropdown-menu li:last-child a:hover,
nav .dropdown-menu li:last-child a:active,
nav .dropdown-menu li:last-child a:focus {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
/*
Anpassungen bei Header/H1 für Mobile
*/
@media (max-width: 991px) {
  .navbar {
    position: fixed !important;
  }
  h1 {
    margin-top: 65px !important;
  }
}
@media (max-width: 480px) {
  .username-navbar {
    display: none;
  }
  nav .dropdown-toggle {
    margin-right: -7px;
  }
  h1 {
    font-size: 16px;
    border-bottom: 1px solid #c5c6c8;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 14px;
    padding-right: 15px;
    padding-bottom: 12px;
    text-transform: uppercase;
  }
  .navbar-default {
    margin-bottom: 10px;
  }
}
