@import "checklist_color.less";

.navmenu {
padding-top: 50px;
}

.navbar {
  display: block;
}

.navbar-brand {
  display: inline-block;
  float: right;
}

.navbar-toggle {
  position: absolute;
  float: left;
}

.containerMain {
position: relative;
max-width: 100%;
}

.navbar-toggle {
  display: none;
}

.navbar-header {
position: relative;
}

.username-fixedtop {
  float: right;
  }



.dropdown-toggle {
  background-color: transparent;
}

.usernav {
  margin-top: 15px;
  border: none;
  background-color: transparent;
}

.btn-group.open .dropdown-toggle {
box-shadow: none;
}

h1 > btn-group {
  margin-top: 0px;
}

.activeLink {
  border-left: 4px solid #41ad78;
  background-color: #f8f8f8;
}



@media (min-width: 992px) {
  .containerMain, #topnav {
  position: relative;
  left: 300px;
  }

  .navmenu {
  padding-top: 0;
  }

  .navbar {
  display: block !important; /* IE8 fix */
  width: 100%;
  }
}


@media (max-width: 992px) {
  .navbar-toggle {
  display: block;
  }

  .username-fixedtop {
  position: absolute;
  right: 0;
  padding-right: 10px;
  }
}

.activeLink {
  border-left: 4px solid #41ad78;
  background-color: #f8f8f8;
}

.logo-header {
  left: 43.5% !important;
}


/* USER STYLES */
.navbar-user-toggle {
  position: absolute;
  float: left;
  display: block;
  position: relative;
  top: 15px;
  border: none;
  background: none;
}

.logoHeaderUser {
  display: block;
  background-size: cover;
  left: 43%;
  margin: 0 auto;
  max-height: 50px;
  min-height: 50px;
  padding: 12px;
  position: absolute;
}
