/*.main-bg {
	background-color: #41ad78;
}*/
html, body {
	height: auto;
}

#contentSettings {
	display: none;
}

.btnUser {
	text-align: left !important;
}

.btnTrash {
	border: none;
	background: none;
	float: right;
	position: relative;
	top: 4px;
	left: 15px;
}

#sidebar {
	z-index: 45;
	background-color: #ffffff;
}

body {
	background-color: #ececed;
	}

.desktop-white {
	background-color: #ffffff;
}

/* LOGIN
=========== */

.center {
	text-align: center;
}

.desktop-bg {
	background-color: #ececed;
}

.logo {
	margin-bottom: 30px;
	margin-top: 0;
	position: relative;
	top: 0;
}

.logo-img {
	width:120px;
}

.input-group {
	padding-left: 15px;
	padding-right: 15px;
}

.btn-login{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 3px;
}

.main-bg {
	margin-top: 50px;
}

.alert-login {
	margin-left: 15px;
	margin-right: 15px;
}


@media (min-width: 992px) {
	.logo-header {
		display: none;
	}

	.username-fixedtop {
		margin-top: 0 !important;
	}

	.logo {
		margin-top: 60px;
	}

	.footerMenu ul {
		margin-right: -5px;
	}	

	.main-bg {
		margin-top: 0px;
	}

	.inner-bg {
		background-color: #ececed;
		margin: auto;
		width: 800px;
		padding: 50px 190px;
	}

	.arrow_box {
		position: relative;
		background: #ffffff;
		padding: 40px 25px 50px;
		/*border: 4px solid #41ad78;
		margin-left: 10%;
		margin-top: 5px;
		width: 370px;*/
	}

	/*.arrow_box:after, .arrow_box:before {
		right: 100%;
		top: 45px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.arrow_box:after {
		border-color: rgba(255, 255, 255, 0);
		border-right-color: #ffffff;
		border-width: 15px;
		margin-top: -15px;
	}

	.arrow_box:before {
		border-color: rgba(11, 179, 44, 0);
		border-right-color: #41ad78;
		border-width: 19px;
		margin-top: -19px;
	}

	body {
	background-color: #41ad78;
	}

	.logo {
		margin-top: 5px;
	}*/
}

.footerMenu ul {
	margin-top: 3px;
	margin-right: 35px;
	float: right;
}

.footerMenu li {
	font-size: 11px;
	display: inline-block;
	margin: 0 5px;
}

.footerMenu li a {
	color: #3d3d3f;
}


/* USER STYLES */

.btn-user-send {
	background-color: #41ad78;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	border-radius: 2px;
	margin-bottom: 20px;
	padding: 7px 32px;
	color: white;
	border: 1px solid #41ad78;
	width: 100%;
	border-bottom: 2px #3b9e6e solid;
}

.btn-user-send:hover, .btn-user-send:active, .btn-user-send:focus {
	background-color: #3b9e6e;
	border: #3b9e6e solid 1px;
	color: white !important;
	border-bottom: 2px #3b9e6e solid;
}

.sendadmin {
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel-tasks{
	padding:0px; 
	margin:0px 0px -10px 0px;
}

.btn-sendadmin {
	border: 1px solid #41ad78;
	border-bottom: 2px #3b9e6e solid;
	padding: 7px;
	background-color: #41ad78;
	color: white;
	width: 100%;
}

.btn-sendadmin:hover, .btn-sendadmin:active, .btn-sendadmin:focus {
	background-color: #3b9e6e;
	border: #3b9e6e solid 1px;
	color: white !important;
	border-bottom: 2px #3b9e6e solid;
}

/* Video */

.js-video {
	height: 0;
	padding-top: 50px;
	padding-bottom: 25%;
	position: relative;
	overflow: hidden;
	max-height: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
}
 
.js-video.widescreen {
	padding-bottom: 56.34%;
}
 
.js-video.vimeo {
	padding-top: 0;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video, .js-video img {
	top: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
} 

.png-checkpunkte{
	padding-bottom: 18% !important;
}

/* Help tabs */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border-bottom: 0;
	border: 1px solid #ececed;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
	display: none;
}
.tab-content > .active,
.pill-content > .active {
	display: block;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
	float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
	font-size: 15px;
	text-align: initial;
	min-width: 70px;
	margin-right: 0;
	margin-bottom: 3px;
	padding-top: 13px;
	min-height: 46px;
}
.tabs-left > .nav-tabs {
	float: left;
	margin-right: 19px;
}
.tabs-left > .nav-tabs > li > a {
	margin-right: -1px;
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
	background-color: #F8F8F8;
	border-color: #F8F8F8;
	color:#41AD78;
}		
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
	color:#41AD78;
	border-color: #F8F8F8;
	border-left: #41AD78 4px solid;
	background-color: #F8F8F8;
}

.screenshots{
	-moz-background-size: cover;
	position: fixed;
}

@media (max-width: 1200px) {
  .nav-tabs{
	width: 100%;
	margin-bottom: 30px;
  }
}
